/* Plugin Styling */

.size-post-thumbnail
{ 
	border-radius: 20px;
	width: 360px;
   	height: 140px;
   	border: 2px solid #14141f;
}



.flowerpostbox
{
	margin-left:50px;
}


.flowerpost
{
	margin:0px 40px;
	padding:4px;
	background-color:#e52356;
	border-radius: 20px;
}

.flowerposttext
{
	height:60px;
	color: #14141f;
	text-decoration: uppercase;
	font-family: 'Monotype Corsiva', cursive;
}

.flowerposttext a{
	color: red;
}

.flowerposttext p
{
	vertical-align:middle;
	margin-bottom:0px;
}
